.container {
  display: flex;
  min-height: 100vh;
  position: relative;
}


.left {
  flex-basis: 33.3333%;
  max-width: 33.3333%;
  min-width: 33.3333%;
  padding: 5rem 0 5rem 10rem;
  box-sizing: border-box;
}

.right {
  flex-basis: 66.6667%;
  max-width: 66.6667%;
  min-width: 66.6667%;
  padding: 5rem 10rem 5rem 0;
  box-sizing: border-box;
}
